.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 8, 39);
    padding: 20px;
}
.navbar h2 {
    color: white;
}
.links{
    display: flex;
    gap: 20px;
}
.links a{
    color: white;

}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid gray;

}
.card h3{
    background-color: gray;
}