.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid rgb(56, 56, 240);
    padding: 10px;
}